@font-face {
  font-family: "mynerve";
  src: url("./assets/Mynerve-Regular.ttf") format("truetype");
}

body {
  font-family: "mynerve", sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #333;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.difficulty-buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.start-button {
  padding: 8px 20px;
  font-size: 1rem;
  font-family: "mynerve", sans-serif;
  cursor: pointer;
  border: 2px solid rgb(58, 58, 58);
  border-radius: 40px;
  background-color: transparent;
  color: rgb(43, 43, 43);
  transition: all 0.3s;
  transform: translateZ(0)
}

.start-button:hover {
  transform: rotate(-4deg);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-size: 2.4rem;
  margin: 20px 0;
}

.scoreboard {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: repeat(3, 160px);
  gap: 60px;
  padding: 20px;
  justify-content: center;
  max-width: 600px;
}

.card-container.easy {
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
}

.card-container.medium {
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: repeat(3, 160px);
}

.card-container.hard {
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(3, 160px);
}

.card {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(58, 58, 58);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  overflow: hidden;
}

.back-button {
  margin-top: 20px;
  padding: 8px 20px;
  cursor: pointer;
  border: 2px solid rgb(58, 58, 58);
  border-radius: 40px;
  color: rgb(43, 43, 43);
  transition: all 0.3s;
  transform: translateZ(0)
}

.back-button:hover {
  transform: rotate(4deg);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}

.game-over-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-over-box {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.game-over-box h2 {
  margin-bottom: 1rem;
}

.restart-button {
  margin: auto;
  padding: 8px 20px;
  font: inherit;
  cursor: pointer;
  border: 2px solid rgb(58, 58, 58);
  border-radius: 40px;
  color: rgb(43, 43, 43);
  transition: all 0.3s;
  transform: translateZ(0)
}

.restart-button:hover {
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}
